<table>
  <thead>
    <tr>
      <!-- 11 Angular recommends usage of property binding but we can use
      Attribute binding if needed-->
      <!-- <th colspan="{{columnSpan}}"> this gives an Template parse Error -->
      <!--OR <th [attr.colspan]="columnSpan">-->
      <th attr.colspan="{{columnSpan}}">
        Employee Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="boldClass">First</td>
      <td class="xs-SizeClass">Tom</td>
    </tr>
    <tr>
      <td class="italicClass">Last</td>
      <td class="colorClass" [class]="styleClass">cook</td>
    </tr>
    <tr>
      <!--To Add an Class -->
      <td class="colorClass" [class.boldClass]="isBoldClass">Gender</td>
      <td class="colorClass" [class.boldClass]="!isBoldClass">Male</td>
    </tr>
    <tr>
      <td class="colorClass" [class.italicClass]="isBoldClass">country</td>
      <td class="xs-SizeClass" [ngClass]="applyClasses()">US</td>
    </tr>
    <tr>
      <!--Style Binding -->
      <button
        style="color:blue"
        [style.font-weight]="isBoldClass? 'bold' : 'normal'"
      >
        Button
      </button>
      <button style="color:green" [ngStyle]="addStyles()">Button New</button>
    </tr>
  </tbody>
</table>
